<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Edit Post</title>
</head>

<body>
  <h1>Edit Post</h1>
  <form method="post" action="/edit/<%= post.id %>">

    <!-- edits the title -->
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= post.title %>" required>

    <!-- edits the content -->
    <label for="content">Content:</label>
    <textarea id="content" name="content" required><%= post.content %></textarea>

    <!-- edits the author -->
    <label for="authorName">Author name:</label>
    <textarea id="authorName" name="authorName" required><%= post.authorName %></textarea>

    <!-- the submit button to edit the blog post -->
    <button type="submit">Update Post</button>
  </form>
</body>
</html>
